html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
  margin: auto;
  position: relative;
}

.robot-body {
  width: 320px;
  position: absolute;
  left: .75em;
  bottom: .75em;
  top: -.75em;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: .65em;
  left: 9em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -3.1em;
}

.robot-head-left {
  position: absolute;
  right: 9.3em;
}

.robot-head-right {
  position: absolute;
  left: 10.7em;
}
